.serviceCard {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
}

.serviceCardHeader {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.serviceCardImages img {
  max-width: 100%;
  margin-bottom: 10px;
}

.serviceCardDetails p {
  margin-bottom: 5px;
}